{% extends 'base.html' %}

{% block content %}
<h2>Reading Form</h2>
<form method="post" id="readingForm" data-cities-url="{% url 'ajax_load_cities' %}" novalidate>
    <button type="button" id="previousSite">Previous</button>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="button" id="nextSite">Next</button>
</form>
<div id="readingList" data-readings-url="{% url 'ajax_load_readings' %}">

</div>

<script>
    /******************* start loadReadingList ********************************/
    function loadReadingList(city, url) {
        if (city) {
            $.ajax({
                url: url,
                data: {
                    'city': city // add the country id to the GET parameters
                },
                success: function(data) {
                    $("#readingList").empty(); // empty out the div first
                    $("#readingList").append(data);
                }
            });
        }
        else {
            $("#readingList").empty();  // empty out the div first
        }
    }
    /********************* end loadReadingList ********************************/

    $("#previousSite").click(function() {
        console.log("In Previous Site");
        var url = $("#readingList").attr("data-readings-url");
        console.log("URL:" + url);
        var cityId = $("#id_city option:selected").prev().val();
        console.log("cityId:" + cityId);
        $("#id_city").val(cityId);
        loadReadingList(cityId, url);
    });
    $("#id_country").change(function() {
        var url = $("#readingForm").attr("data-cities-url");
        console.log("URL:" + url);
        var countryId = $(this).val();  // get the selected country ID from the HTML input
        console.log("countryId:" + countryId);
        $.ajax({
            url: url,
            data: {
                'country': countryId // add the country id to the GET parameters
            },
            success: function(data) { // `data` is the return of the `load_cities` view function
                $("#readingList").empty();
                $("#id_city").html(data); // replace the contents of the city input with the data that came from the server
            }
        });
    });
    $("#id_city").change(function() {
        var url = $("#readingList").attr("data-readings-url");
        console.log("URL:" + url);
        var cityId = $(this).val();  // get the selected country ID from the HTML input
        console.log("cityId:" + cityId);
        loadReadingList(cityId, url);
    });
    $("#nextSite").click(function() {
        console.log("In Next Site");
        var url = $("#readingList").attr("data-readings-url");
        console.log("URL:" + url);
        var cityId = $("#id_city option:selected").next().val();
        console.log("cityId:" + cityId);
        $("#id_city").val(cityId);
        loadReadingList(cityId, url);
    });
</script>
{% endblock content %}
